<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991600951096-oa4kv885s4gmibmqhuus12051mqb5uan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991600951096-oa4kv885s4gmibmqhuus12051mqb5uan</string>
	<key>API_KEY</key>
	<string>AIzaSyAh0L226QcDnbkN-tGOJaVKnFhoTiCPxmI</string>
	<key>GCM_SENDER_ID</key>
	<string>991600951096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aptos</string>
	<key>PROJECT_ID</key>
	<string>hullabaloo-ffd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>hullabaloo-ffd8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991600951096:ios:58319e0c36d59d351c0bcd</string>
</dict>
</plist>